#header
{
    height:100px;
    width:100%;
}
#container
{
    height:1500px;
    width:100%;
}
#banner
{
     height:400px;
     width:30%;
     float:left;
     margin-bottom:70px;
}
#banner img
{ 
    margin-left:150px;
    height:400px;
    width:100%;
}
#text
{
    margin-top:20px;
 
    float:right;
    overflow:hidden;
}
#text button
{
    height:40px;
    width:150px;
    background-color: green;
}
#rate
{
    margin-left:45px;
    clear:both;
}
.checked
{
    color:yellow;
}
#review img
{
    height:500px;
    width:40%;
    margin-left:30px;
    margin-top:28px;
    margin-bottom:35px;
}
#review h2{
    margin-left:45px;
}
#comment 
{

    margin-left:45px;
}
#comment button
{
  height:50px;
  width:500px;
}
